$font-color = #1a173b
$font-color-gray = #637280
$brand-color = #4b89f2
$red-brand-color = #ff3200;
$blue-brand-color = #2c4edd;
$success-brand-color = #6acb00
$light-gray-bg = rgba(18, 63, 85, 0.05);
$form-border-color = #e7ebed;
$form-border-color--focused = #8d8c9e;

$my-spacer := 10px
$my-spacer-x := $my-spacer
$my-spacer-y := $my-spacer
$my-spacers := {
  zero: {
    x: 0,
    y: 0
  },
  one: {
    x: ($my-spacer-x * 1),
    y: ($my-spacer-y * 1)
  },
  two: {
    x: ($my-spacer-x * 2),
    y: ($my-spacer-y * 2)
  },
  three: {
    x: ($my-spacer-x * 3),
    y: ($my-spacer-y * 3)
  },
  four: {
    x: ($my-spacer-x * 4),
    y: ($my-spacer-y * 4)
  },
  five: {
    x: ($my-spacer-x * 5),
    y: ($my-spacer-y * 5)
  },
  six: {
    x: ($my-spacer-x * 6),
    y: ($my-spacer-y * 6)
  },
  seven: {
    x: ($my-spacer-x * 6),
    y: ($my-spacer-y * 6)
  },
  eight: {
    x: ($my-spacer-x * 6),
    y: ($my-spacer-y * 6)
  },
  nine: {
    x: ($my-spacer-x * 6),
    y: ($my-spacer-y * 6)
  }
}